<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../libs/Bootstrap/css/bootstrap.min.css" type="text/css">
    </head>
    <body ng-app="monApp">
        <h2>Voilà l'AngularJS</h2>
        
        <div ng-controller="httpCTRL">
            <!--<form ng-submit="refresh()">-->
            <select ng-model="choix">
                <option value="clients">Clients</option>
                <option value="prestataires">Prestataires</option>
            </select>
            <button ng-click="refresh()">Actualiser</button>
            <!--</form>-->
            <ul>
                <li ng-repeat="c in listeDonnees">{{c}}</li> 
            </ul>
        </div>
        <script src="libs/angular.min.js"></script>
        <script src="libs/jquery-1.11.1.min.js"></script>
        <script src="libs/Bootstrap/js/bootstrap.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>
